<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="SERVER" value="ZILIOLI\SQLEXPRESS"/>
  <!--<add key="SERVER" value="(localdb)\Projects"/>-->
  <add key="USER" value="db_pdv"/>
  <add key="PASSWORD" value="PDV"/>
  <add key="CATALOG" value="PDV"/>
</appSettings>
</configuration>